#div1{background: lightcoral; padding: 50px; margin: 20px 0;}
#div2{background: lightgreen; padding: 50px; margin: 20px 0;}
#div3{background: lightpink; padding: 50px; margin: 20px 0;}
#div4{background: lightseagreen; padding: 50px; margin: 20px 0;}
#div5{background: lightslategray; padding: 50px; margin: 20px 0;}

h2{text-align: center;}